<!DOCTYPE html>
<html>
<head>


    <!-- JS (load angular, ui-router, and our custom js file) -->
    <script src="http://code.angularjs.org/1.2.13/angular.js"></script>
     <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script> 
    <script src="/app.js"></script>
    <link rel="stylesheet" href = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.css">
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-aria.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-messages.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0/angular-material.min.js"></script>
    <script type = "text/javascript">    
        angular.module('myModule', ['ngMaterial'])
     </script>
</head>

<style>
.y
{
    height:600px;
    width:200px;
    background-color:rosybrown;
}
.x{
    height:100px;
    width:200px;
    text-align:center;
}
</style>


<!-- apply our angular app to our site -->
<body ng-app="myModule">
    <div class="container y" layout="column">
     <div class="x" layout="row" layout-align="center center"> <a ui-sref="send">COMPOSE</a></div>
     <div class="x" layout="row" layout-align="center center"><a ui-sref="drafts">DRAFTS</a></div>
     <div class="x" layout="row" layout-align="center center"><a ui-sref="sent">SENT EMAILS</a></div>   
    </div>    
<!-- MAIN CONTENT -->

<div class="container">
    <div ui-view>
</div>

<div>
 
</div>

</body>
</html>
