     <style>
            .positiveButton1{
               background: rgb(128, 76, 87);
            }
            .border
            {
               border:1px solid rgb(112, 75, 75);
            }
            .padding
            {
               padding:3px;
            }
     </style>
           
 <div class="width100 inputRow border" layout="column" layout-align="start start" ng-repeat="email in emails | orderBy:'-_sent'">
   
   <div class="width100 padding" layout="row" layout-align="start start">
       <div flex="25">From: </div>
       <div flex="75" layout="column" layout-align="start start">
          <div> {{email.from.email}}</div>
             <div>Name:{{email.from.name}}</div>
     </div>
   </div>         
    <div class="width100 padding" layout="row" layout-align="start start">
       <div flex="25">To:</div>
       <div flex="75" ng-repeat="to in email.to" layout="column" layout-align="start start"> 
        <div> {{to.email}}</div>
        <div> Name:{{to.name}}</div>
    </div>
   </div>         
            
   <div class="width100 padding" layout="row" layout-align="start start">
       <div flex="25" >Cc: </div>
       <div flex="75">
        <div  ng-repeat="cc in email.cc" layout="column" layout-align="start start">
          <div> {{cc.email}}</div>
         <div>Name:{{cc.name}}</div>
        </div> 
     </div>
   </div>    

 <div class="width100 padding" layout="row" layout-align="start start">
       <div flex="25" >Bcc:</div>
       <div flex="75">
         <div  ng-repeat="bcc in email.bcc" layout="column">
          <div> {{bcc.email}}</div>
         <div>Name:{{bcc.name}}</div>
      </div>
    </div>
</div>         
 <div layout="row" class="width100 padding" layout-align="start start">
        <div  flex="25">Subject:</div>
        <div  flex="75" layout-align="start start">{{email.subject}}</div>
    </div>
            
            
    <div class="width100 padding" layout="row" layout-align="start start">
        <div flex="25">Sent Date:</div>
        <div flex="75">{{email._sent | date:"medium"}}</div>
        <div flex="10" layout="row" layout-align="end end"> 
            <md-button class="positiveButton1" ng-click="view(email)">
             VIEW
            </md-button>
            <md-button class="positiveButton1" ng-click="delete(email._id)">
             DELETE
            </md-button>
        </div>  
</div>
            